<section>
  <div class="container">
    <h1>О наших Продуктах</h1>
    <div class="row">
      <div class="col-md-5">
        <h4>ХОЛЛОФАЙБЕР</h4>
        <p>Холлофайбер - инновационный нетканый синтетический материал ,
          произведенный в Казакстан,
          по своим полезным характеристикам в большинстве случаев превосходит натуральное сырье.
          Он не гниет, не подвержен поражению грибком и плесенью,
          имеет низкую теплопроводность, отлично держит тепло,
          прекрасно отстирывается и быстро сохнет.</p>
      </div>
      <div class="col-md-7">
        <img src="./assets/images/img1.svg" class="img1" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <img src="./assets/images/img2.svg" alt="">
      </div>
      <div class="col-md-5">
        <h4>СИНТЕПУХ</h4>
        <p>Синтепух - это наполнитель для подушек и игрушек а так же предметов мебели.
          Синтепух прекрасно держит форму.
          Синтепуха - современные подушки такие лёгкие и дышащие.
          С синтепухом достаточно легко работать, он отлично заполняет свободные пустоты.
          Гипоаллергенный материал.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>СИНТЕПОН</h4>
        <p>Синтепон - доступный нетканый материал.
          Область применения: пошива одежды,домашнего текстиля.
          Основные характеристики синтепона:низкая теплопроводность.
          легкость, мягкость
          эластичность и упругость
          водоотталкивающий
          доступная цена
          У нас вы можете заказать синтепон, холлофайбер,синтепух партиями любого объема.</p>
      </div>
      <div class="col-md-7">
        <img src="./assets/images/img3.svg" class="img1" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Наши полотна - это легкий, объемный,
          упругий нетканый материал,
          из 100% полиэфирных волокна.
          Страндартная ширина 150см.
          Плотность от 150г/м2 до 400г/м2.
          Для производство одежды,
          постельных принадлежностей,
          мебели,  игрушек..</p>
      </div>
    </div>
  </div>
</section>
