section {
  background: #070707;
  padding-top: 6rem;
}

p {
  font-weight: 600;
  font-size: 62px;
  width: 1024px;
  margin: auto;
  background: linear-gradient(
  to right, rgb(255, 255, 255) 50%,
  rgb(7, 7, 7) 20%);
  background-size: 200% 100%;
  background-position-x: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}


@media (min-width: 300px) and (max-width: 700px) {
  section {
    height: 100%;
    padding: 6rem 0;
    p {
      width: 100%;
      font-size: 25px;
    }
  }
}
